.bem_vindo {
	background: rgba(74, 74, 74, 0.7); 
	padding: 5%; 
	width: 100%; 
	box-shadow: 0px 0px 10px 3px rgba(158,158,158, 0.6);
}
.texto_nice {
	font-weight: bold; 
	color: orange; 
	font-size: 120%; 
	text-align: center;
}
.formulario_main {
	width: 80%; 
	margin: 0 auto; 
	background-color: #fff; 
	padding: 3.5%; 
	border-radius: 10px;
}
input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: #555f77;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ced2db;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ced2db;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ced2db;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ced2db;
}

p {
  line-height: 1.3125rem;
}

.comments {
  margin: 2.5rem auto 0;
  /* max-width: 60.75rem; */
  width: 100%;
  padding: 0 1.25rem;
}

.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
}
.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-text {
  margin-bottom: 1.25rem;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comment-actions li:hover {
  color: #0095ff;
}
.zoom {
  transition: all .2s ease-in-out;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
#alert_popover
{
 display:block;
 position:fixed;
 bottom:50px;
 right:50px;
}
.wrapper {
  display: table-cell;
  vertical-align: bottom;
  height: auto;
  width:300px;
}
.alert_default
{
 color: #333333;
 background-color: #f2f2f2;
 border-color: #cccccc;
}


ul.suggestions{
 width:200%;
 border:1px solid #ccc;
 height:auto;
 padding:0px;
 margin:0px;
}
ul.suggestions li, 
ul.suggestions li a{
 background-color:#fff;
 color:#000;
 font-size:15px;
 font-family:MontSerrat;
 font-weight:normal;
 padding:0 10px;
 margin:0px;
 line-height:25px; 
 display:block;
 cursor:pointer;
}
ul.suggestions li:hover,
ul.suggestions li a:hover{
 background-color:#ccc;
 color:#000;
 text-decoration:normal;
}
.lazy_img {
  border: 0;
}
.lazy_img:not([src]) {
  visibility: hidden;
}

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}
.imagem_zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}